/*
  CSS stylesheet for tikz.dev
  Copyright 2021-2022 Dominik Peters

  adapted from:
  CSS stylesheet for the LaTeX Lwarp package
  Copyright 2016-2021 Brian Dunn - BD Tech Concepts LLC
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  --main-font: -system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', "Source Sans Pro", sans-serif;
  --monospace-font: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, "Source Code Pro", monospace;
}

header,
section,
footer,
nav,
main,
figure {
  display: block;
}

A:link {
  color: #000080;
  text-decoration: none;
}
A:visited {
  color: #800000;
}
A:hover {
  color: #000080;
  text-decoration: underline;
}
A:active {
  color: #800000;
}
a.tocpart {
  display: inline-block;
  margin-left: 0em;
  font-weight: bold;
}
a.tocsection {
  display: inline-block;
  margin-left: 1em;
  text-indent: -0.5em;
  font-weight: bold;
}
a.tocsubsection {
  display: inline-block;
  margin-left: 2em;
  text-indent: -0.5em;
}
a.tocsubsubsection {
  display: inline-block;
  margin-left: 3em;
  text-indent: -0.5em;
}

body {
  font-family: var(--main-font);
  background: #faf7f4;
  color: black;
  margin: 0em;
  padding: 0em;
  font-size: 100%;
}

p {
  margin: 1.5ex 0em 1.5ex 0em;
}
table p {
  margin: 0.5ex 0em 0.5ex 0em;
}

span.sectionnumber {
  margin-right: 0.3em;
}

div.hidden,
span.hidden {
  display: none;
}

kbd,
span.texttt,
p span.texttt,
.quicklinks a {
  font-family: var(--monospace-font);
  font-size: 88%;
  line-height: 0.8;
  word-break: break-word;
}

p span.texttt,
.quicklinks a {
  padding: 0.07em 0.14em;
  margin: 0;
  font-size: 85%;
  background-color: hsl(240, 100%, 97%);
  border: 1px solid hsl(240, 100%, 94%);
}
/* remove the above styling in some places */
.entryheadline p span.texttt,
p span.texttt.nobackground
{
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 88%;
}

pre {
  padding: 3pt;
}

span.textmd {
  font-weight: normal;
}

span.textsc {
  font-variant: small-caps;
  font-variant-numeric: oldstyle-nums;
}

blockquote {
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}

body div {
  margin: 0ex;
}

h1,
h2,
h4,
h5,
h6,
span.paragraph {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  text-align: left;
}

h1 {
  /* title of the entire website, used on each page */
  text-align: center;
  font-size: 2.5em;
  padding: 0.4ex 0em 0ex 0em;
}

h2 {
  font-size: 2em;
}
h4 {
  font-size: 1.75em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}
span.paragraph {
  font-size: 1em;
  font-variant: normal;
  margin-right: 1em;
}

h1 {
  margin: 0ex 0em 0ex 0em;
  line-height: 1.3;
  text-align: center;
}

h2 {
  margin: 1ex 0em 1ex 0em;
  line-height: 1.3;
  text-align: center;
}

h4 {
  margin: 3ex 0em 1ex 0em;
  line-height: 1.3;
}

h5 {
  margin: 3ex 0em 1ex 0em;
  line-height: 1.3;
}

h6 {
  margin: 2ex 0em 1ex 0em;
  line-height: 1.3;
}

.footnotes {
  text-align: left;
  font-size: 0.85em;
  margin: 3ex 2em 0ex 2em;
  border-top: 1px solid silver;
}

section.textbody div.footnotes {
  margin: 3ex 2em 0.5ex 2em;
  border-bottom: 2px solid silver;
}

ul {
  margin: 1ex 1em 1ex 0em;
  line-height: 1.2;
}

li {
  margin: 0ex 0em 1ex 0em;
}

html {
  margin: 0;
  padding: 0;
}

.programlisting {
  font-family: var(--main-font);
  margin: 1ex 0ex 1ex 0ex;
  padding: 0.5ex 0pt 0.5ex 0pt;
  overflow-x: auto;
  white-space: pre-wrap;
  font-size: 80%;
}

section.textbody > pre.programlisting {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.verbatim {
  overflow-x: auto;
}

/* Minipage environments, vertically aligned to top, center, bottom: */
.minipage {
  /* display: inline-block ; */
  /* Mini pages which follow each other will be tiled. */
  text-align: left;
  margin: 0.25em 0.25em 0.25em 0.25em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  display: inline-flex;
  flex-direction: column;
  overflow: auto;
}

/* Paragraphs in the flexbox did not collapse their margins. */
/* Have not yet researched this. */
.minipage p {
  margin: 0.75ex 0em 0.75ex 0em;
}

dl {
  margin: 1ex 2em 1ex 0em;
  line-height: 1.3;
}

dl dt {
  display: block;
  float: left;
  font-weight: bold;
  padding-right: 1em;
}

dl dd {
  display: block;
}

dl dd:after {
  content: "";
  display: block;
  clear: both;
}

dl dd p {
  margin-top: 0em;
}

dd ul {
  clear: both;
}

nav {
  font-family: var(--main-font);
  margin-bottom: 4ex;
}

nav p {
  line-height: 1.2;
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
  font-size: 0.9em;
}

img {
  max-width: 600px;
  border: 1px solid silver;
  box-shadow: 3px 3px 3px #808080;
  padding: 0.5%;
  margin: 0.5%;
  background: none;
}

img.inlineimage {
  padding: 0px;
  box-shadow: none;
  border: none;
  background: none;
  margin: 0px;
  display: inline-block;
  border-radius: 0px;
}

figure {
  margin: 5ex auto 5ex auto;
  padding: 1ex 1em 1ex 1em;
  overflow-x: auto;
}

figure div.minipage p {
  font-size: 85%;
}

div.minipage figure {
  border: none;
  box-shadow: none;
}

table {
  margin: 1ex auto 1ex auto;
  border-collapse: separate;
  border-spacing: 0px;
  line-height: 1.3;
}

table > tbody > tr.hline > td {
  border-top: 1px solid #808080;
  margin-top: 0ex;
  margin-bottom: 0ex;
} /* for \hline */ /* for \toprule, \bottomrule */

td {
  padding: 0.5ex 0.5em 0.5ex 0.5em;
}

table td.tdl {
  text-align: left;
  vertical-align: middle;
}
table td.tdc {
  text-align: center;
  vertical-align: middle;
}
table td.tdr {
  text-align: right;
  vertical-align: middle;
}
table td.tdp {
  text-align: left;
  vertical-align: bottom;
}

/* Margins of paragraphs inside table cells: */
td.tdp p {
  padding-top: 1ex;
  padding-bottom: 1ex;
  margin: 0ex;
}

td.tdp {
  padding: 0ex 0.5em 0ex 0.5em;
}

div.center {
  text-align: center;
}

header {
  line-height: 1.2;
  font-size: 1em;
  border-bottom: 1px solid silver;
  margin: 0px;
  padding: 2ex 1em 2ex 1em;
  text-align: left;
}

footer {
  font-size: 0.85em;
  line-height: 1.2;
  margin-top: 1ex;
  border-top: 1px solid silver;
  padding: 2ex 1em 2ex 1em;
  clear: both;
  text-align: left;
}

img.lateximage {
  padding: 0pt;
  margin: 0pt;
  box-shadow: none;
  border: none;
  background: none;
  max-width: 100%;
  height: auto;
  border-radius: 0ex;
  border: none;
}

div.sidetoccontainer {
  font-family: var(--main-font);
  float: left;
  width: 19%; /* room for border-right next to 80% main */
  margin: 0pt 0em 3ex 0pt;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background: #faf7f4;
  font-size: 0.9em;
  border-radius: 0px 0px 20px 0px;
}

div.sidetoccontents {
  overflow-y: auto;
  width: 100%;
  text-align: left;
}

nav.sidetoc p {
  line-height: 1.2;
  margin: 1ex 0.5em 1ex 0.5em;
  text-indent: 0;
}

nav.sidetoc p a {
  color: black;
  font-size: 0.7em;
}

div.sidetoctitle {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid silver;
}

nav.sidetoc a:hover {
  text-decoration: underline;
}

section.textbody {
  margin: 0ex 1em 0ex 1em;
}

/*
For CSS LaTeX and related logos:
Based on spacing demonstrated by the metafont package.

The subscripts are shrunk instead of lowered below the baseline,
to avoid browser rendering errors with the line height in lists, etc.
*/

.latexlogofont {
  font-family: "Linux Libertine O", "Nimbus Roman No 9 L", "FreeSerif",
    "Hoefler Text", Times, "Times New Roman", serif;
  font-variant: normal;
}

.latexlogo {
  font-family: "Linux Libertine O", "Nimbus Roman No 9 L", "FreeSerif",
    "Hoefler Text", Times, "Times New Roman", serif;
}

.latexlogosup {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 0.7em;
  vertical-align: 0.25em;
  margin-left: -0.4em;
  margin-right: -0.15em;
}

.latexlogosub {
  text-transform: uppercase;
  /*  vertical-align: -0.27ex; */
  margin-left: -0.08em;
  margin-right: -0.07em;
  /*  font-size: 1em; */
  font-size: 0.7em;
}

.latexlogotwoe {
  text-transform: none;
  font-variant-numeric: oldstyle-nums;
}

.latexlogotwoesub {
  font-style: italic;
  /*  vertical-align: -0.27ex; */
  margin-left: -0.11em;
  margin-right: -0.1em;
  /*  font-size: 1em; */
  font-size: 0.7em;
}

/* Only display the sidetoc's webpage title if a small screen */
span.sidetocthetitle {
  display: none;
}

@media screen and (max-width: 50em) {
  div.sidetoccontainer {
    float: none;
    width: 100%;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-shadow: none;
  }
  span.sidetocthetitle {
    display: inline;
  }
  main.bodycontainer {
    width: 100%;
  }
}

@media print {
  body {
    font-family: "Linux Libertine O", "DejaVu Serif", "Bitstream Vera Serif",
      "Liberation Serif", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text",
      Times, "Times New Roman", serif;
  }
  div.sidetoccontainer {
    display: none;
  }
  main.bodycontainer {
    width: 100%;
  }
}

@media handheld {
  div.sidetoccontainer {
    display: none;
  }
  main.bodycontainer {
    width: 100%;
  }
}

@media projection {
  div.sidetoccontainer {
    display: none;
  }
  main.bodycontainer {
    width: 100%;
  }
}

:root {
  --header-height: 40px;
}

@media screen and (min-width: 640px) {
  :root {
    --header-height: 60px;
  }
}

:target {
  scroll-margin-top: calc(60px + var(--header-height));
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "left"
    "content"
    "footer";
}

@media screen and (min-width: 640px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "left content"
      "footer footer";
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "left content right"
      "footer footer footer";
  }
}

.bodyandsidetoc > header {
  grid-area: header;
  display: flex;
  align-items: center;
  background-color: #1a458f;
  color: #fff;
  height: var(--header-height);
  /* width: 100vw; */
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 5;
}

div.sidetoccontainer {
  float: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.sidetoctitle:first-child {
  display: none;
}

#chapter-toc-container {
  grid-area: left;
  background-color: rgb(242, 242, 242);
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 639px) {
  #chapter-toc-container {
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.15s;
    position: fixed;
    z-index: 1000;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    overflow-y: scroll;
  }

  #chapter-toc-container.show-menu {
    transform: translateX(0);
  }
}

@media screen and (min-width: 640px) {
  #chapter-toc-container {
    width: 11em;
  }
}

#local-toc-container {
  display: none;
}

@media screen and (min-width: 1024px) {
  #local-toc-container {
    grid-area: right;
    display: block;
    width: 13em;
  }

  #chapter-toc-container {
    width: 17em;
  }
}

@media screen and (min-width: 1280px) {
  #chapter-toc-container {
    width: 19em;
  }

  #local-toc-container {
    width: 19em;
  }
}

main.bodycontainer {
  grid-area: content;
  float: none;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 40px;
}

nav {
  position: sticky;
  top: var(--header-height);
  padding: 0;
  margin: 0;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
  scroll-padding: 100px;
}

#chapter-toc-container nav.sidetoc {
  max-height: none;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1em;
}

header strong {
  display: block;
  font-size: 1.1em;
  font-family: var(--main-font);
  margin: 0;
  margin-left: 0.4em;
}

header strong a,
header strong a:visited,
header strong a:hover {
  color: #fff !important;
  text-decoration: none;
}

#hamburger-button {
  font-family: "Linux Libertine O", "Hoefler Text", "Garamond", "Bembo",
    "Janson", "TeX Gyre Pagella", "Palatino", "Liberation Serif",
    "Nimbus Roman No 9 L", "FreeSerif", Times, "Times New Roman", serif;
  padding-left: 0.5em;
  padding-right: 0.2em;
  cursor: pointer;
  font-size: 1.3em;
}

.mobile-toc {
  margin-top: -1em;
}

.mobile-toc ul {
  padding-inline-start: 20px;
}

@media screen and (min-width: 640px) {
  #hamburger-button {
    display: none;
  }

  .mobile-toc {
    display: none;
  }
}

#search {
  margin-left: auto;
  margin-right: 1em;
}

@media screen and (min-width: 750px) {
  #search > button {
    width: 13em;
  }
}

@media screen and (min-width: 1280px) {
  #search > button {
    width: 19em;
  }
}

.DocSearch {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.DocSearch header {
  border-bottom: 0px;
}

.search-input {
  margin-right: 0.3em;
  width: 10em;
  font-size: 0.9em;
  padding: 1px 3px;
}

@media screen and (min-width: 640px) {
  header strong {
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  .search-input {
    margin-right: 1em;
    width: 14em;
    font-size: 105%;
    padding: 3px 5px;
  }

  #chapter-toc-container nav.sidetoc {
    max-height: calc(100vh - var(--header-height));
  }
}

.textbody h1 {
  display: none;
}

h2.inserted {
  display: none;
}

h4 {
  margin: 0;
  margin-bottom: -0.3em;
}

h5 {
  margin-top: 1.5ex;
}

/* anchor links for headings */
h4,
h5,
h6 {
  display: flex;
}

h4 > .anchor-link,
h5 > .anchor-link,
h6 > .anchor-link {
  margin-left: auto;
}

h4 > .anchor-link,
h4 > .anchor-pdf-link,
h4 > .anchor-html-link,
h5 > .anchor-link,
h5 > .anchor-pdf-link,
h5 > .anchor-html-link,
h6 > .anchor-link,
h6 > .anchor-pdf-link,
h6 > .anchor-html-link {
  font-family: "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", Georgia,
    serif;
  font-size: 85%;
  color: #000080;
  opacity: 0.35;
  padding-left: 3px;
  font-weight: normal;
}

h5 > .anchor-link {
  font-size: 70%;
}

h4 > .anchor-link:hover,
h4 > .anchor-pdf-link:hover,
h4 > .anchor-html-link:hover,
h5 > .anchor-link:hover,
h5 > .anchor-pdf-link:hover,
h5 > .anchor-html-link:hover,
h6 > .anchor-link:hover,
h6 > .anchor-pdf-link:hover,
h6 > .anchor-html-link:hover {
  opacity: 1;
  /* background-color: rgb(201, 204, 243); */
  text-decoration: none;
  transform: scale(1.15);
}

h4:hover > .anchor-link,
h5:hover > .anchor-link,
h6:hover > .anchor-link {
  opacity: 1;
}

h4 > .anchor-pdf-link > svg,
h4 > .anchor-html-link > svg {
  width: 24px;
  height: 24px;
  margin-top: 6px;
  margin-bottom: -6px;
}

h5 > .anchor-pdf-link > svg,
h5 > .anchor-html-link > svg {
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-bottom: -6px;
}

h6 > .anchor-pdf-link > svg,
h6 > .anchor-html-link > svg {
  width: 17px;
  height: 17px;
  margin-top: 4px;
  margin-bottom: -4px;
}

.example {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0;
}

.example-image {
  background-color: rgb(245, 245, 204);
}

.example-image p {
  margin: 0;
  padding: 0.5em;
}

.example-code {
  padding: 0.75em;
  background: #e5e5ff;
  font-family: var(--monospace-font);
  /* font-size: 98%; */
  line-height: 0.92;
  position: relative;
  overflow-wrap: break-word;
  word-break: break-word;
}

.example-code code {
  font-family: var(--monospace-font);
  font-size: 81.25%;
}

.clipboardButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.4em;
  border: 0;
  font-size: 78%;
  text-align: center;
  min-width: 3.5em;
  color: #444;
  cursor: pointer;
  visibility: hidden;
  background-color: #bbbbfc8a;
}

.clipboardButton:hover {
  background-color: #c0c0ff;
}

.example-code:hover .clipboardButton {
  visibility: visible;
}

.example-code a {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.6);
}

.example-code:hover a {
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.8);
}

.example-code a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration-color: blue;
}

.example-code > code > br:first-child {
  display: none;
  /* hide the first <br> which is spurious */
}

.example-code-comment {
  color: #4f4f4f;
}

.example-code .spaces {
  white-space: pre-wrap;
}

.codepreamble {
  color: #4f4f4f;
}

.angle {
  display: inline;
  font-size: 140%;
  line-height: 0.5;
  vertical-align: -2px;
}

/* Taken out 2022-05-28 after list behavior changed */
/* .manualentry {
  margin-left: 40px;
} */

.manualentry > ul {
  margin: 0;
}

ul {
  padding-left: 20px;
}

.entryheadline {
  margin-left: -20px;
}

@media screen and (min-width: 640px) {
  ul {
    padding-left: 40px;
  }

  .entryheadline {
    margin-left: -40px;
  }
}

.entryheadline p > a {
  position: absolute;
  /* ignore in flex layout */
}

table {
  margin: 1ex;
}

nav.sidetoc .sidetoccontents p {
  margin: 0;
  font-size: 110%;
}

nav.sidetoc .sidetoccontents > p.current-part {
  background-color: rgb(219, 221, 243);
}

nav.sidetoc .sidetoccontents > p.current {
  background-color: rgb(195, 199, 241);
}

nav.sidetoc .sidetoccontents a {
  display: block;
  padding: 0.5em 0.3em;
  text-indent: -0.5em;
  font-weight: bold;
  font-size: 0.85em;
}

.sidetoccontents p:hover,
nav.sidetoc .sidetoccontents > p.current-part:hover {
  background-color: rgb(174, 178, 240);
}

nav.sidetoc .sidetoccontents a.tocpart,
nav.sidetoc .sidetoccontents a.linkintro,
nav.sidetoc .sidetoccontents a.tocsubsection {
  margin-left: 1em;
}

nav.sidetoc .sidetoccontents a.tocsection,
nav.sidetoc .sidetoccontents a.tocsubsubsection {
  font-weight: normal;
  margin-left: 1.3em;
  padding-left: 1.3em;
  border-left: 1px solid rgb(75, 78, 114);
}

.hl-def {
  margin-right: 2em;
  /* space to default */
}

.hl-default {
  margin-left: auto;
  /* push to the right */
  color: rgb(49, 50, 58);
}

.entryheadline p {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.entryheadline p > a.anchor-link,
.entryheadline p > a.anchor-html-link
{
  opacity: 0.4;
  padding-left: 3px;
  position: static;
  /* do not ignore in flex layout */
  margin-left: 0.5em !important;
}

.entryheadline p > a.anchor-html-link > svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: -2px;
}

.entryheadline p:hover > a.anchor-link,
.entryheadline p:hover > a.anchor-html-link {
  opacity: 1;
}

.entryheadline p > a.anchor-html-link:hover {
  opacity: 1;
  transform: scale(1.15);
}

.entryheadline p > a.anchor-link:hover {
  background-color: rgb(201, 204, 243);
  text-decoration: none;
}

/* Home page */

.manual-title-block {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.2em;
  padding-top: 1em;
}

.manual-title {
  font-size: 2.5em;
}

.manual-version {
  font-size: 1.5em;
}

.manual-html-title {
  font-size: 1.2em;
  font-style: italic;
  margin: 1em 0 0.3em 0;
}

.manual-authorship-explanation,
.manual-html-explanation {
  margin: 0 auto;
  margin-bottom: 0.2em;
  max-width: 60em;
  font-size: 1em;
  text-align: center;
}

.manual-html-explanation {
  margin-bottom: 0.7em;
}

.index-page #local-toc-container {
  display: none;
}

.quicklinks {
  margin-bottom: 0.5em;
  line-height: 1.8;
}
.quicklinks strong {
  font-size: 140%;
  line-height: 1;
  display: block;
  margin-bottom: 0.3em;
}
.quicklinks a {
  font-size: 100%;
  margin-right: 0.2em;
}
.quicklinks a:hover {
  background-color: hsl(240, 100%, 94%);
}

.home-toc-section {
  margin-bottom: 1em;
}
.home-toc-section strong {
  font-size: 140%;
}
.home-toc-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
}
.home-toc-card a {
  display: block;
  width: 275px;
  border: 1px solid #1a458f;
  background-color: rgb(242, 242, 242);
  text-align: center;
  padding-bottom: 0.2em;
}
.home-toc-card a:hover {
  text-decoration: none;
  background-color: rgb(201, 204, 243);
}
.home-toc-card img {
  background-color: white;
  width: 100%;
  height: auto;
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.home-toc-card a:hover img {
  background-color: rgb(242, 242, 242);
}

@media (max-width: 750px) {
  .home-toc-card a {
    width: 100%;
  }
}

.titlepagepic {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 842px;
  object-fit: scale-down;
}

.titlepagepic img {
  height: auto;
}

.dedication {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 840px;
}

.dedicationsignature {
  text-align: right;
}

/* *************************** */
/* "Remember picture" examples */
/* *************************** */

div.section-absolute-positioning {
  position: relative;
  padding-bottom: 5em;
}

div.example-absolute-positioning-bottom-left img {
  position: absolute;
  z-index: 100;
  bottom: 1em;
  left: 0.1em;
}

div.example-absolute-positioning-center img {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.warning-see-pdf {
  background-color: rgb(254, 229, 184);
  border: 1px solid rgb(255, 204, 0);
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 3.5em;
  background-image: url('standalone/exclamation-square.svg');
  background-repeat: no-repeat;
  background-position: 0.5em 0.5em;
  background-size: 2.3em;
}

div.warning-see-pdf img {
  display: block;
  margin-top: 0.5em;
  border: 1px solid rgb(219, 176, 1);
  max-width: 95%;
  width: 50em;
  box-shadow: 2px 2px 4px rgba(219, 176, 1, 0.3);
}

/* Temporary ad for pgfplots pages */

#pgfplots-link, #pgfplots-desktop-version, #pgfplots-smaller-version {
  display: none;
}

.pgfplots-link-text {
  font-weight: 600; 
  font-size: 1.11em;
}

@media screen and (min-width: 380px) {
  #pgfplots-link {
    display: block;
    background-color: #623cc9;
    color: #fff;
    border-radius: 5px;
    margin-left: 1em;
    padding: 0;
    box-shadow: inset 0 0 5px #341e72;
    border: 1px solid #623cc9;
    outline: 1px solid rgba(255, 255, 255, 0.2);
  }
  #pgfplots-link:hover {
    background-color: #7751e0;
    box-shadow: inset 0 0 5px #b4a0ea,
                0 0 5px rgba(255, 255, 255, 0.2);
  }
  #pgfplots-link a {
    color:#fff; 
    font-size: 0.75em;
    display: block; 
    padding: 0.2em;
  }
  #pgfplots-smaller-version {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  #pgfplots-link {
    margin-left: 1.5em;
  }
  #pgfplots-link a {
    color:#fff; 
    font-size: 0.85em;
    display: block; 
    padding: 0.35em;
  }
  #pgfplots-smaller-version {
    display: none;
  }
  #pgfplots-desktop-version {
    display: block;
  }
}

/* end temporary ad */